<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<%- include('./partials/flash.ejs') %>
<main id="main-content">
    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1 id="home-title" class="hero-title">View <strong>The Lost And Found's</strong> inventory online with AstroAuctions.com</h1>
                <a href="/auction" class="btn btn-secondary">View Auction</a>
                <a href="https://www.instagram.com/35Mangostreet" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Visit Our Instagram</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="/images/astrologo.webp" alt="Astro Auction - Cosmic Auction House" width="600" height="600">
        </div>
    </section>
</main>
<%- include('./partials/footer.ejs') %>